<!DOCTYPE html>
<html>
	<head>
		<title>TG Cloud</title>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/kv-cloud.js') }}"></script>
        <style>
            @font-face { font-family: bariol_thin; src: url("{{ url_for('static', filename='Fonts/bariol_thin.ttf') }}");}
            @font-face { font-family: bariol_light; src: url("{{ url_for('static', filename='Fonts/bariol_light.ttf') }}");}
            @font-face { font-family: bariol_regular; src: url("{{ url_for('static', filename='Fonts/bariol_regular.ttf') }}");}
            @font-face { font-family: bariol_bold; src: url("{{ url_for('static', filename='Fonts/bariol_bold.ttf') }}");}
        </style>
	</head>
	<body>
		<h1>Word Cloud for @{{ username }}</h1>
        <div style="width:600px; height:110px;">
            <div style="float:left; margin-right:20px;">
                <b>Placement:</b><br>
                <form>
                    <input type="radio" name= "placement" id="rectangular" checked>Rectangular<br>
                    <input type="radio" name= "placement" id="archimedean">Spiral<br>
                    <input type="radio" name= "placement" id="random">Random<br>
                </form>
            </div>
            <div style="float:left; margin-right:20px;">
                <b>Orientation:</b><br>
                <form>
                    <input type="radio" name="orientation" id="mixed" checked>Mixed<br>
                    <input type="radio" name="orientation" id="horizontal">Horizontal<br>
                    <input type="radio" name="orientation" id="vertical">Vertical<br>
                </form>
            </div>
            <div style="float:left; margin-right:20px;">
                <b>Font:</b><br>
                <form>
                    <input type="radio" name="font" id="thin" checked>Thin<br>
                    <input type="radio" name="font" id="light">Light<br>
                    <input type="radio" name="font" id="regular">Regular<br>
                    <input type="radio" name="font" id="bold">Bold<br>
                </form>
            </div>
            <div style="float:left; margin-right:20px;">
                <b>Words:</b>
                    <label for="numWords" style="text-align: right"> <span id="numWords-value">…</span>
                    </label><br>
                    <input type="range" min="1" max="100" id="numWords">
            </div>
            <div style="float:left;">
                <b>Update:</b><br>
                <input id="update" type="button" value="UPDATE" style="width:80px;height:40px;" onclick="update_cloud(options, fullData)"/>
            </div>
        </div>
		<script>
            
            fullData = [];

            {% for key, value in entries.iteritems() %}
                var obj = {word:'{{ key }}',
                        count: {{ value }} };
                fullData.push(obj);
            {% endfor %}

            fullData.sort(compare);

            options.svgSize = 600;
            options.font = 'bariol_thin';

            build_cloud(options, fullData);


            d3.select("#numWords-value").text(options.numWords);
            d3.select("#numWords").property("value", options.numWords);
            d3.select("#rectangular").on("click", function () {
                options.spiral = 'rectangular';
            });
            d3.select("#archimedean").on("click", function () {
                options.spiral = 'archimedean';
            });
            d3.select("#random").on("click", function () {
                options.spiral = 'random';
            });
            d3.select("#mixed").on("click", function () {
                options.wordAngle = 'mixed';
            });
            d3.select("#horizontal").on("click", function () {
                options.wordAngle = 'horizontal';
            });
            d3.select("#vertical").on("click", function () {
                options.wordAngle = 'vertical';
            });
            d3.select("#thin").on("click", function () {
                options.font = 'bariol_thin';
            });
            d3.select("#light").on("click", function () {
                options.font = 'bariol_light';
            });
            d3.select("#regular").on("click", function () {
                options.font = 'bariol_regular';
            });
            d3.select("#bold").on("click", function () {
                options.font = 'bariol_bold';
            });
            d3.select("#numWords").on("input", function() {
                options.numWords = +this.value;
                d3.select("#numWords-value").text(options.numWords);
                d3.select("#numWords").property("value", options.numWords);
            });


        </script>
	</body>
</html>