<!DOCTYPE html>
<html>
	<head>
		<title>TG Cloud</title>
	</head>
	<body>
		<h1>TG Cloud</h1>
		<p>To view a wordcloud, navigate to '/cloud/USERNAME/NUM_ENTRIES'<br>
		View (sample) Word Clouds for:</p>
		<ul>
			<li><a href="cloud/kyle">@kyle</a></li>
			<li><a href="cloud/timi">@timi</a></li>
			<li><a href="cloud/peter">@peter</a></li>
			<li><a href="cloud/alex">@alex</a></li>
		</ul>
		<br>
		<p>To view recent entries, navigate to '/recent/USERNAME' <br>
		View recent entries for:</p>
		<ul>
			<li><a href="recent/kyle">@kyle</a></li>
			<li><a href="recent/timi">@timi</a></li>
			<li><a href="recent/peter">@peter</a></li>
			<li><a href="recent/alex">@alex</a></li>
		</ul>

	</body>
</html>